rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /runs/state/{user}/{run} {
      allow read: if true;
      allow write: if false;
    }
    match /runs/plan/{user}/{run} {
      allow read, write: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}