<header class="docs-header-background">
    <div class="docs-header-section">
        <div class="docs-header-headline">
            <h1 class="mat-h1">Lucky Seven</h1>
            <h2>A Final Fantasy VII Challenge Run</h2>
        </div>
        <div class="docs-header-start">
            <button mat-raised-button *ngIf="!requesting" (click)="onNewRun()">New Run</button>

            <mat-progress-spinner *ngIf="requesting" mode="indeterminate"></mat-progress-spinner>
        </div>
    </div>
</header>