<header class="docs-header-background">
    <div class="docs-header-section">
        <div class="docs-header-headline">
            <h1 class="mat-h1">Sinra Employment Services</h1>
            <h2>a FF VII challenge run</h2>
        </div>
        <div class="docs-header-start">

            <span *ngIf="afa.user | async as user; else showLogin">
                <button mat-raised-button *ngIf="!requesting" (click)="onNewRun()">New Run</button>

                <mat-progress-spinner *ngIf="requesting" mode="indeterminate"></mat-progress-spinner>
            </span>
            <ng-template #showLogin>
                <button mat-raised-button (click)="login()">
                    login
                </button>
</ng-template>
        </div>
    </div>
</header>