table {
  width: 100%;
}

tr.row:hover {
  background: #777;
}

mat-card {
  margin-bottom: 16px;
  max-width: 800px;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
