<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="portrait" [style.backgroundImage]="'url(\'assets/portraits/' + name + '.png\')'">
        </div>
        <mat-card-title>{{name}}</mat-card-title>
        <mat-card-subtitle *ngIf="job">
            {{job}}
            <span *ngIf="hasLure">, Rancher</span>
            <span *ngIf="hasUnderwater">, Swimmer</span>
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="!job">??????</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="materia-list" *ngIf="job">
            <app-materia *ngFor="let materia of getMateria(job)" [name]="materia"></app-materia>
            <app-materia *ngIf="hasLure" name="Chocobo Lure"></app-materia>
            <app-materia *ngIf="hasUnderwater" name="Underwater"></app-materia>
        </div>
        <div class="materia-list" *ngIf="!job && runActive">
            <button mat-raised-button color="primary" (click)="onUnlock()">
                unlock
            </button>
        </div>
    </mat-card-content>
</mat-card>