<header class="docs-header-background">
    <div class="docs-header-section">
        <div class="docs-header-headline">
            <h1 class="mat-h1">Shinra Employment Services</h1>
            <h2>a FF VII challenge run</h2>
        </div>
        <div class="docs-header-start">
            <a mat-raised-button class="docs-button" routerLink="/gen">Get
                started</a>
        </div>

    </div>
</header>
<main class="docs-homepage-promo">
    <div class="docs-homepage-row">
        <div class="docs-homepage-promo-img">
            <img class="promo" src="../../assets/logo.png">
        </div>
        <div class="docs-homepage-promo-desc">
            <h2>What is FF7:SES?</h2>

            <p>Final Fantasy 7: Shinra Employment Services is a challenge run
                for the original FF7, similar in vein to what you might see in
                FF5's "Four Job Fiesta" challenge runs. The basic premise is
                rather than being able to use any Materia on any character you
                please, additional challenge is placed on the run via forcing
                each playable character into pre-generated (using this very
                website) jobs. For example, your Cloud may draw the job of the
                Pyromaniac and be limited to the following Materia: Fire, All,
                Elemental, Final Attack, MP Turbo, Magic Counter, Quadra Magic,
                Magic Plus, Mega All, MP Plus, Ifrit, and Phoenix.
            </p>
        </div>
    </div>
    <div class="docs-homepage-row docs-homepage-reverse-row">
        <div class="docs-homepage-promo-img">
            <img class="promo" style="fill: white"
                src="../../assets/lock-24px.svg">
        </div>
        <div class="docs-homepage-promo-desc">
            <h2>Why do I need to log in?</h2>

            <p>Logging in allows the site to keep track of multiple runs for a
                single user. So by logging in, you are allowed to have more than
                one run registered on the site at a time. Your runs can have the
                chance of jobs being repeated, or be forced to have every job be
                unique via a switch on the <a [routerLink]="['/gen']">New
                    Run</a> page.</p>
        </div>
    </div>
    <div class="docs-homepage-row">
        <div class="docs-homepage-promo-img">
            <img class="promo" src="../../assets/discord-logo.png">
        </div>
        <div class="docs-homepage-promo-desc">
            <h2>Where can I go for more information?</h2>

            <p>Should you wish to read up more before starting, please come to
                our Discord: https://discord.gg/xDK8zyS and join the
                conversation! In the meantime good luck on your runs! </p>
        </div>
    </div>
</main>