.materia {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.magic {
    background-color: #60ff60;
    color: #000000;
}

.support {
    background-color: #60ffff;
    color: #000000;
}

.command {
    background-color: #ffff60;
    color: #000000;
}

.independent {
    background-color: #ff60ff;
    color: #000000;
}

.summon {
    background-color: #ff6060;
    color: #000000;
}
