.char-list {
    display: flex;
    flex-wrap: wrap;
}

.char {
    margin: 4px;
    width: 192px;
    display: flex;
}

.portrait {
    margin: 4px;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    background-size: cover;
    border-radius: 50%;
}

.job {
    margin: auto 4px;
}